<div class="row">
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Stats</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Trends</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <% for @p in @posts %>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><%= @p.content %></p>
            </div>
        </div>
        <% end %>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>About</p>
            </div>
        </div>
    </div>
</div>