<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            Hi, <%= @username %>!
        </div>
    </div>
</div>

<!-- Row 2 -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>profile</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <%= render 'components/post_form' %>
        
        <% for @p in @posts %>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><%= @p.content %></p>
            </div>
        </div>
        <% end %>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>who to follow</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>trends</p>
            </div>
        </div>
    </div>
</div>